<%= error_messages_for 'weight' %>

<!--[form:weight]-->
<p><label for="weight_created_at">Created at</label><br/>
<%= datetime_select 'weight', 'created_at'  %></p>

<p><label for="weight_weight">Weight</label><br/>
<%= text_field 'weight', 'weight'  %></p>
<!--[eoform:weight]-->

