<%= form_for :weight do |f| %>
    <div class="row">
    <div class="form-group col-md-6">
      <label for="weight_created_at">Created at</label>
      <%= f.text_field :created_at, class: 'datetime form-control' %>
    </div>

    <div class="form-group col-md-6">
      <label for="weight_weight">Weight</label>
      <%= f.text_field 'weight', class: 'form-control' %>
    </div>
    </div>

    <%= f.submit class: 'btn btn-primary'%>
<% end %>
