[Unit]
Description=KC Sports web application

[Service]
Type=forking
User=capistrano
Group=capistrano
WorkingDirectory=/u/apps/sports/current
ExecStart=/u/apps/sports/current/sports start
PIDFile=/u/apps/sports/shared/pids/server.pid

# Timeout for start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
